USE [projeqtors]
GO
/****** Object:  Database [projeqtors]    Script Date: 30/04/2021 6:30:59 PM ******/
CREATE DATABASE [projeqtors]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projeqtor', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\projeqtor.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'projeqtor_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\projeqtor_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projeqtors].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projeqtors]
GO
/****** Object:  Table [dbo].[dim_activity]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_activity](
	[id_activity] [bigint] NOT NULL,
	[idProject] [bigint] NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[lastUpdateDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_client]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_client](
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](max) NULL,
	[clientCode] [varchar](25) NULL,
	[paymentDelay] [int] NULL,
	[country] [varchar](100) NULL,
	[tax] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[Date_Pk] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Anne] [int] NOT NULL,
	[Mois] [int] NOT NULL,
	[Jour] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dim_profile]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_profile](
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[profileCode] [varchar](3) NULL,
	[sortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_project]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_project](
	[Realcost] [real] NULL,
	[Plannedcost] [real] NULL,
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](10) NULL,
	[idClient] [int] NULL,
	[projectCode] [varchar](25) NULL,
	[contractCode] [varchar](25) NULL,
	[idUser] [bigint] NULL,
	[done] [bigint] NULL,
	[doneDate] [date] NULL,
	[paymentDelay] [int] NULL,
	[creationDate] [date] NULL,
	[handledDate] [date] NULL,
	[idResource] [bigint] NULL,
	[lastUpdateDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_resource]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_resource](
	[name_profile] [varchar](100) NULL,
	[id_profile] [bigint] NULL,
	[nameRole] [varchar](100) NULL,
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[locked] [bigint] NULL,
	[idTeam] [bigint] NULL,
	[capacity] [varchar](5) NULL,
	[idClient] [bigint] NULL,
	[idRole] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_role]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_role](
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[defaultCost] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dim_team]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_team](
	[id] [bigint] NOT NULL,
	[description] [varchar](max) NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fact]    Script Date: 30/04/2021 6:30:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fact](
	[name_project] [varchar](100) NOT NULL,
	[name_ressource] [varchar](100) NULL,
	[Realcost] [real] NULL,
	[Plannedcost] [real] NULL,
	[doneDate_project] [date] NULL,
	[creationDate_project] [date] NULL,
	[handledDate_project] [date] NULL,
	[id_activity] [bigint] NOT NULL,
	[idProject] [bigint] NULL,
	[lastUpdateDateTime_activity] [datetime] NULL,
	[id_team] [bigint] NOT NULL,
	[id_role] [bigint] NOT NULL,
	[id_client] [bigint] NOT NULL,
	[id_resource] [bigint] NOT NULL,
	[id_profile] [bigint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[dim_activity] ([id_activity], [idProject], [name], [description], [lastUpdateDateTime]) VALUES (1, 2, N'Maintenance', NULL, CAST(0x0000A88C010C7370 AS DateTime))
INSERT [dbo].[dim_activity] ([id_activity], [idProject], [name], [description], [lastUpdateDateTime]) VALUES (2, 2, N'Projet CARPA', NULL, CAST(0x0000A88C010CD70C AS DateTime))
INSERT [dbo].[dim_activity] ([id_activity], [idProject], [name], [description], [lastUpdateDateTime]) VALUES (3, 2, N'Projet Tri / Réconciliation CHQ', NULL, CAST(0x0000A88C010D3274 AS DateTime))
GO
INSERT [dbo].[dim_client] ([id], [name], [description], [clientCode], [paymentDelay], [country], [tax]) VALUES (1, N'Client Talys 1', NULL, N'102', NULL, NULL, NULL)
INSERT [dbo].[dim_client] ([id], [name], [description], [clientCode], [paymentDelay], [country], [tax]) VALUES (2, N'Client Talys 2', NULL, N'107', NULL, NULL, NULL)
INSERT [dbo].[dim_client] ([id], [name], [description], [clientCode], [paymentDelay], [country], [tax]) VALUES (3, N'Client Talys 3', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[dim_date] ([Date_Pk], [Date], [Anne], [Mois], [Jour]) VALUES (10102020, CAST(0x90400B00 AS Date), 2020, 1, 1)
INSERT [dbo].[dim_date] ([Date_Pk], [Date], [Anne], [Mois], [Jour]) VALUES (20102020, CAST(0x91400B00 AS Date), 2020, 1, 2)
INSERT [dbo].[dim_date] ([Date_Pk], [Date], [Anne], [Mois], [Jour]) VALUES (30102020, CAST(0x92400B00 AS Date), 2020, 1, 3)
GO
INSERT [dbo].[dim_profile] ([id], [name], [description], [profileCode], [sortOrder]) VALUES (1, N'profileAdministrator', N'Has a visibility over all the projects', N'ADM', 100)
INSERT [dbo].[dim_profile] ([id], [name], [description], [profileCode], [sortOrder]) VALUES (2, N'profileSupervisor', N'Has a visibility over all the projects', N'SUP', 200)
INSERT [dbo].[dim_profile] ([id], [name], [description], [profileCode], [sortOrder]) VALUES (3, N'profileProjectLeader', N'Leads his owns project', N'PL', 310)
INSERT [dbo].[dim_project] ([Realcost], [Plannedcost], [id], [name], [description], [idClient], [projectCode], [contractCode], [idUser], [done], [doneDate], [paymentDelay], [creationDate], [handledDate], [idResource], [lastUpdateDateTime]) VALUES (0, 0, 1, N'Project 1', N'1', 13, NULL, NULL, 1, 0, NULL, NULL, CAST(0xE73D0B00 AS Date), NULL, 12, CAST(0x0000A88C00E28060 AS DateTime))
INSERT [dbo].[dim_project] ([Realcost], [Plannedcost], [id], [name], [description], [idClient], [projectCode], [contractCode], [idUser], [done], [doneDate], [paymentDelay], [creationDate], [handledDate], [idResource], [lastUpdateDateTime]) VALUES (0, 0, 2, N'Project 2', N'3', 15, NULL, NULL, 1, 0, NULL, NULL, CAST(0xE73D0B00 AS Date), NULL, 5, CAST(0x0000A88C00E28060 AS DateTime))
INSERT [dbo].[dim_project] ([Realcost], [Plannedcost], [id], [name], [description], [idClient], [projectCode], [contractCode], [idUser], [done], [doneDate], [paymentDelay], [creationDate], [handledDate], [idResource], [lastUpdateDateTime]) VALUES (0, 0, 3, N'Project 3', N'1', 9, NULL, NULL, 1, 0, NULL, NULL, CAST(0xE73D0B00 AS Date), NULL, 12, CAST(0x0000A88C00E28060 AS DateTime))
GO
INSERT [dbo].[dim_resource] ([name_profile], [id_profile], [nameRole], [id], [name], [email], [locked], [idTeam], [capacity], [idClient], [idRole]) VALUES (N'profileAdministrator', 1, NULL, 1, N'Resource 1', NULL, 0, NULL, N'1.00', NULL, 0)
INSERT [dbo].[dim_resource] ([name_profile], [id_profile], [nameRole], [id], [name], [email], [locked], [idTeam], [capacity], [idClient], [idRole]) VALUES (N'profileGuest', 5, NULL, 2, N'Resource 2', NULL, 0, NULL, N'1.00', NULL, 0)
INSERT [dbo].[dim_resource] ([name_profile], [id_profile], [nameRole], [id], [name], [email], [locked], [idTeam], [capacity], [idClient], [idRole]) VALUES (N'profileProjectLeader', 3, NULL, 3, N'Resource 3', NULL, 0, NULL, N'1.00', NULL, 0)
INSERT [dbo].[dim_role] ([id], [name], [description], [defaultCost]) VALUES (1, N'Manager', N'Leader/Manager of the project', NULL)
INSERT [dbo].[dim_role] ([id], [name], [description], [defaultCost]) VALUES (2, N'Analyst', N'Responsible of specifications', NULL)
INSERT [dbo].[dim_role] ([id], [name], [description], [defaultCost]) VALUES (3, N'Developer', N'Sowftware developer', NULL)
INSERT [dbo].[dim_team] ([id], [description], [name]) VALUES (1, NULL, N'Abacus Team')
INSERT [dbo].[fact] ([name_project], [name_ressource], [Realcost], [Plannedcost], [doneDate_project], [creationDate_project], [handledDate_project], [id_activity], [idProject], [lastUpdateDateTime_activity], [id_team], [id_role], [id_client], [id_resource], [id_profile]) VALUES (N'Project 1', N'Resource 12', 800, 700, NULL, CAST(0xE73D0B00 AS Date), NULL, 40, 1, CAST(0x0000A88E00FB04F0 AS DateTime), 0, 0, 13, 12, 3)
INSERT [dbo].[fact] ([name_project], [name_ressource], [Realcost], [Plannedcost], [doneDate_project], [creationDate_project], [handledDate_project], [id_activity], [idProject], [lastUpdateDateTime_activity], [id_team], [id_role], [id_client], [id_resource], [id_profile]) VALUES (N'Project 1', N'Resource 12', 800, 700, NULL, CAST(0xE73D0B00 AS Date), NULL, 41, 1, CAST(0x0000A88E00FB33D0 AS DateTime), 0, 0, 13, 12, 3)
INSERT [dbo].[fact] ([name_project], [name_ressource], [Realcost], [Plannedcost], [doneDate_project], [creationDate_project], [handledDate_project], [id_activity], [idProject], [lastUpdateDateTime_activity], [id_team], [id_role], [id_client], [id_resource], [id_profile]) VALUES (N'Project 1', N'Resource 12', 800, 700, NULL, CAST(0xE73D0B00 AS Date), NULL, 42, 1, CAST(0x0000A88E00FB4C6C AS DateTime), 0, 0, 13, 12, 3)
GO
ALTER TABLE [dbo].[dim_project] ADD  DEFAULT ((0)) FOR [done]
GO
ALTER TABLE [dbo].[dim_resource] ADD  DEFAULT ((0)) FOR [locked]
GO
ALTER TABLE [dbo].[dim_resource] ADD  DEFAULT ('1.00') FOR [capacity]
GO
USE [master]
GO
